<%= render "shared/header", title: title, link: "" %>
<div class="toolbar">
  <%= link_to '<i class="fa fa-chevron-left" aria-hidden="true"></i>'.html_safe, defined?(show) ? tasks_path : 'javascript:history.back()' , class: 'btn btn-primary', title: 'Back', data: { toggle: 'tooltip', placement: 'bottom' } %>
</div>
