.table td, .table th {
  vertical-align: middle;
  text-align: center;
}

.table > thead > tr > th > a {
  color: inherit;
  text-decoration: inherit;
}

.fa { display:inline; }

.alerts {
  position: fixed; 
  top: 0px; 
  width: 50%;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 9999;
}

.inner {
  margin: 5px;
}

.name {
  text-align: left;
}

.description {
  text-align: left;
}

.toolbar {
  margin-bottom: 0.5rem;
}